
    
    .swiper {
      width: 100%;
      height: 100%;
    }

    .swiper-slide {
      text-align: center;
      font-size: 18px;
      /* background: #fff; */
      display: flex;
      justify-content: center;
      align-items: center;
      
    }

    /* .swiper-slide img {
      display: block;
      width: 50%;
      height: 80%;
      object-fit: cover;
    } */
    

    .bg-color-scroll{
      position: -webkit-sticky;
      position: sticky;
      top: 0;
      z-index: 1000;
      background-color: #fff;
      box-shadow: 0 0 10px rgba(0,0,0,0.1);
      transition: background-color 0.5s;
    }
    .swiper-pagination-bullet-active{
      background-color: #004b7a !important;
    }

    .swiper-button-prev, .swiper-rtl .swiper-button-next {
      left: var(--swiper-navigation-sides-offset,0px);
      right: auto;
  }
  .swiper-button-next, .swiper-rtl .swiper-button-prev {
    right: var(--swiper-navigation-sides-offset,0px);
    left: auto;
}
  .swiper-button-next, .swiper-button-prev {
    font-size: 10px !important;
    padding: 20px !important;
    background-color: #01669B !important;
    color: white !important;
}

.swiper-button-next,
    .swiper-button-prev {
      width: 40px !important; /* Adjust width as needed */
      height: 40px !important; /* Adjust height as needed */
      background-color: #333; /* Background color of buttons */
      color: #fff; /* Text color of buttons */
      border-radius: 50%; /* Make the buttons circular */
      font-size: 10px !important; /* Adjust font size as needed */
      opacity: 0.7; /* Adjust opacity as needed */
    }

    /* Increase opacity on hover */
    .swiper-button-next:hover,
    .swiper-button-prev:hover {
      opacity: 1;
    }
    .swiper-button-next:after, .swiper-button-prev:after {
      
      font-size: 20px;
      font-weight: bold;
      
  }
  .hover-effect:hover {
    transform: scale(1.2); /* Scale up by 10% */
    text-shadow: 0px 0px 8px rgb(255, 255, 255); /* Add text shadow */
    box-shadow: 0px 0px 8px rgb(163, 163, 207); /* Add box shadow */
    padding: 10px; /* Add padding */
    transition: transform 0.5s ease, text-shadow 0.5s ease, box-shadow 0.5s ease-in-out, padding 0.5s ease-in-out; /* Add transitions for smooth animation */
  }
  
    
 
    .active {
      color: #41b5f3; /* Set your active color */
      font-weight: bold; /* Set your active font weight */
  }

  .scrolltop .icon {
    font-size: 24px;
    text-align: center;
    transform: rotate(-45deg);
    margin-top: 7px;
    color: #fff;
}

.scrolltop {
  position: fixed;
  bottom: 60px;
  right: 40px;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background-color: #006BA3;
  display: none;
  cursor: pointer;
  z-index: 1000;
}


.scrolltop {
  animation: scrolltop  linear 4s;
  animation-iteration-count: infinite;
  transform-origin: 50% 50%;
  -webkit-animation: scrolltop  linear 4s;
  -webkit-animation-iteration-count: infinite;
  -webkit-transform-origin: 50% 50%;
  -moz-animation: scrolltop  linear 4s;
  -moz-animation-iteration-count: infinite;
  -moz-transform-origin: 50% 50%;
  -o-animation: scrolltop  linear 4s;
  -o-animation-iteration-count: infinite;
  -o-transform-origin: 50% 50%;
  -ms-animation: scrolltop  linear 4s;
  -ms-animation-iteration-count: infinite;
  -ms-transform-origin: 50% 50%;
}

@keyframes scrolltop {
  0% {
    transform:  translate(1px,20px)  ;
  }
  24% {
    transform:  translate(1px,30px)  ;
  }
  50% {
    transform:  translate(1px,12px)  ;
  }
  74% {
    transform:  translate(1px,22px)  ;
  }
  100% {
    transform:  translate(1px,22px)  ;
  }
}

@-moz-keyframes scrolltop {
  0% {
    -moz-transform:  translate(1px,20px)  ;
  }
  24% {
    -moz-transform:  translate(1px,30px)  ;
  }
  50% {
    -moz-transform:  translate(1px,12px)  ;
  }
  74% {
    -moz-transform:  translate(1px,22px)  ;
  }
  100% {
    -moz-transform:  translate(1px,22px)  ;
  }
}

@-webkit-keyframes scrolltop  {
  0% {
    -webkit-transform:  translate(1px,20px)  ;
  }
  24% {
    -webkit-transform:  translate(1px,30px)  ;
  }
  50% {
    -webkit-transform:  translate(1px,12px)  ;
  }
  74% {
    -webkit-transform:  translate(1px,22px)  ;
  }
  100% {
    -webkit-transform:  translate(1px,22px)  ;
  }
}

@-o-keyframes scrolltop  {
  0% {
    -o-transform:  translate(1px,20px)  ;
  }
  24% {
    -o-transform:  translate(1px,30px)  ;
  }
  50% {
    -o-transform:  translate(1px,12px)  ;
  }
  74% {
    -o-transform:  translate(1px,22px)  ;
  }
  100% {
    -o-transform:  translate(1px,22px)  ;
  }
}

@-ms-keyframes scrolltop  {
  0% {
    -ms-transform:  translate(1px,20px)  ;
  }
  24% {
    -ms-transform:  translate(1px,30px)  ;
  }
  50% {
    -ms-transform:  translate(1px,12px)  ;
  }
  74% {
    -ms-transform:  translate(1px,22px)  ;
  }
  100% {
    -ms-transform:  translate(1px,22px)  ;
  }
}
 
#hideShowHeader {
  position: fixed;
  top: 50px;
  right: -300px;
  display: none; 
  height: 100%;
  transition: left 0.3s ease; 
}